#projects {
  padding: 0px;
  margin:0px;
}

#projects .text{
  padding: 10px;
  margin:10px;
}

.projects {
  overflow: hidden;
}

.project {
  cursor: pointer;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
}

.project_text {
  font-size: 30px;
}

.project_overlay, .project_text {
  opacity: 0.90;
}

.projects_img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.nav {
  width: auto;
  right: 0px;
}

.nav-bg {
  visibility: visible !important;
  opacity: 1 !important;
}

.navbtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  /*grid-template-columns: auto;*/
}

.navbtn {
  display: block;
}