:root {
  --daFont: 'Montserrat', sans-serif;
  --colorOne: rgb(255, 255, 255);
  --colorTwo: rgb(15, 15, 15);
  --colorThree: rgb(0, 0, 0);
  --overlay_value: 1;
  --sizer: 500px;
}

body {
  color: var(--colorThree);
  background-color: var(--colorThree);
  font-family: var(--daFont);
  margin: 0px;
}

.jumbotron {
  padding: 50px;
  border-radius: 0px;
  font-size: 100px;
  color: var(--colorThree);
  background: var(--colorOne);
  text-align: center;
}

._header {
  border-bottom: 5px solid var(--colorOne);
  color: var(--colorOne);
  padding-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}

.about {
  color: var(--colorOne);
  padding-left: 25%;
  padding-right: 25%;
}

.projects {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, var(--sizer));
  overflow: hidden;
  padding-bottom: 100px;
}

.project {
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-out;
  height: 350px;
  width: var(--sizer);
  margin: 0px;
  overflow: hidden;
}

.project_overlay {
  pointer-events: none;
  transition: all 0.25s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  color: var(--colorOne);
  background-color: rgba(0, 0, 0, 0.85);
}

.project_text {
  pointer-events: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: var(--colorOne);
  text-align: center;
}

.projects_img {
  pointer-events: none;
  height: inherit;
  position: relative;
  opacity: 1;
  transition: 0.25s;
  -webkit-transform: scale(1.75);
  -moz-transform: scale(1.75);
  -ms-transform: scale(1.75);
  -o-transform: scale(1.75);
  transform: scale(1.75);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#scroll_to_top {
  opacity: 1;
  color: var(--colorOne);
  width: 100px;
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  font-size: 75px;
}

#scroll_to_top i:hover {
  transition: all 0.35s ease .05s;
  cursor: pointer;
  opacity: 0.50;
}

a {
  transition: all 0.35s ease .05s;
  color: #b1b1b1;
}

a:link {
  text-decoration: none;
}

a:hover {
  transition: all 0.5s ease-out;
  color: var(--colorOne);
}

.main_container_404 {
  padding: 15%;
  color: white;
  text-align: center;
  overflow: hidden;
}

.main_container_404 a {
  color: white;
}
