:root {
  --daFont: 'Montserrat', sans-serif;
  --daFont: 'Montserrat', sans-serif;
  --colorOne: #FFFFFF;
  --colorTwo: #111111;
  --colorThree: #1B1B19;
  --overlay_value: 1;
  --sizer: 500px;
  --tools: grid;
}

body {
  color: var(--colorThree);
  background-color: var(--colorOne);
  font-family: var(--daFont);
}

.jumbotron {
  padding: 100px;
  border-radius: 0px;
  color: var(--colorOne);
  background: linear-gradient(-90deg, var(--colorThree), var(--colorTwo));
  background-color: var(--colorThree);
}

.projects_header, .contact_header {
  border-bottom: 5px solid var(--colorThree);
  color: var(--colorThree);
  padding-top: 100px;
  margin-bottom: 20px;
}

ul{
  list-style: none;
}

.main_container {
  overflow: hidden;
  padding-left: 75px;
  padding-right: 75px;
}

.main_container404 {
  padding: 15%;
  color: white;
  text-align: center;
  overflow: hidden;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.tools {
  padding-left: 50px;
  transition: all 0.25s ease-in;
  display: var(--tools);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  grid-gap: 0px;
  justify-content: center;
  font-size: 75px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--sizer));
  justify-content: center;
  overflow: hidden;
}

.project {
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-out;
  height: 350px;
  width: var(--sizer);
  margin: 0px;
  overflow: hidden;
}

.project_overlay {
  transition: all 0.25s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  color: var(--colorOne);
  background-color: rgba(0, 0, 0, 0.55);
}

.project_text {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: var(--colorOne);
  text-align: center;
}

.projects_img {
  height: inherit;
  position: relative;
  opacity: 1;
  -webkit-transform: scale(1.75);
  -moz-transform: scale(1.75);
  -ms-transform: scale(1.75);
  -o-transform: scale(1.75);
  transform: scale(1.75);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#scrollUP {
  opacity: 1;
  color: var(--colorThree);
  background-color: var(--colorOne);
  border-radius: 0px;
  width: 100%;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0px; /* Place the button at the bottom of the page */
  left: 0px;
  z-index: 100; /* Make sure it does not overlap */
}

#scrollUP:hover {
  opacity: 1;
  align-content: center;
  color: var(--colorOne);
  background-color: var(--colorThree);
}

a:link {
  text-decoration: none;
}

a {
  transition: all 0.35s ease .05s;
  color: #595959; #262626
}

a:hover {
  transition: all 0.5s ease-out;
  color: #262626;
}
